<h1>Customers</h1>
<% unless @customers.empty? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Api key</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.name %></td>
          <td><%= customer.api_key %></td>
          <td>
            <%= link_to 'Show', customer, class: "btn" %>
            <%= link_to 'Edit', edit_customer_path(customer), class: "btn" %>
            <%= link_to 'Delete', customer, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br />
<% else %>
  <p>No customers</p>
<% end %>

<%= link_to 'New customer', new_customer_path, class: "btn btn-primary" %>